/* Just trying to make this CSS file work before trying to make SASS work */

#highlighter-extension-form-button {
  z-index: 9999;
  min-width: 48px;
  min-height: 48px;
  background-color: red;

  position: fixed;
  bottom: 8px;
  right: 16px;
}